PowerShellCmdlet1/Service References/eFetch_taxon/efetch_taxon.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.ncbi.nlm.nih.gov/soap/eutils/efetch_taxonomy" elementFormDefault="qualified" targetNamespace="http://www.ncbi.nlm.nih.gov/soap/eutils/efetch_taxonomy" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Acronym" type="xs:string" />
  <xs:complexType name="AkaTaxIdsType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="tns:TaxId" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Anamorph" type="xs:string" />
  <xs:element name="BlastName" type="xs:string" />
  <xs:element name="CitId" type="xs:string" />
  <xs:element name="CitKey" type="xs:string" />
  <xs:element name="CitMedlineId" type="xs:string" />
  <xs:element name="CitPubmedId" type="xs:string" />
  <xs:element name="CitText" type="xs:string" />
  <xs:element name="CitUrl" type="xs:string" />
  <xs:complexType name="CitationType">
    <xs:sequence>
      <xs:element ref="tns:CitId" />
      <xs:element ref="tns:CitKey" />
      <xs:element minOccurs="0" ref="tns:CitUrl" />
      <xs:element minOccurs="0" ref="tns:CitText" />
      <xs:element minOccurs="0" ref="tns:CitPubmedId" />
      <xs:element minOccurs="0" ref="tns:CitMedlineId" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CitationsType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Citation" type="tns:CitationType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClassCDE" type="xs:string" />
  <xs:element name="CommonName" type="xs:string" />
  <xs:element name="CreateDate" type="xs:string" />
  <xs:element name="DispName" type="xs:string" />
  <xs:element name="Division" type="xs:string" />
  <xs:element name="EquivalentName" type="xs:string" />
  <xs:element name="GCId" type="xs:string" />
  <xs:element name="GCName" type="xs:string" />
  <xs:element name="GenbankAcronym" type="xs:string" />
  <xs:element name="GenbankAnamorph" type="xs:string" />
  <xs:element name="GenbankCommonName" type="xs:string" />
  <xs:element name="GenbankSynonym" type="xs:string" />
  <xs:complexType name="GeneticCodeType">
    <xs:sequence>
      <xs:element ref="tns:GCId" />
      <xs:element ref="tns:GCName" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Includes" type="xs:string" />
  <xs:element name="Inpart" type="xs:string" />
  <xs:element name="Lineage" type="xs:string" />
  <xs:complexType name="LineageExType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Taxon" type="tns:TaxonType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MGCId" type="xs:string" />
  <xs:element name="MGCName" type="xs:string" />
  <xs:element name="Misnomer" type="xs:string" />
  <xs:element name="Misspelling" type="xs:string" />
  <xs:complexType name="MitoGeneticCodeType">
    <xs:sequence>
      <xs:element ref="tns:MGCId" />
      <xs:element ref="tns:MGCName" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModGBhidden" type="xs:string" />
  <xs:element name="ModId" type="xs:string" />
  <xs:element name="ModName" type="xs:string" />
  <xs:element name="ModType" type="xs:string" />
  <xs:complexType name="ModifierType">
    <xs:sequence>
      <xs:element ref="tns:ModId" />
      <xs:element ref="tns:ModType" />
      <xs:element ref="tns:ModName" />
      <xs:element ref="tns:ModGBhidden" />
      <xs:choice minOccurs="0">
        <xs:element ref="tns:RModId" />
        <xs:element ref="tns:RTaxId" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ModifiersType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Modifier" type="tns:ModifierType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NameType">
    <xs:sequence>
      <xs:element ref="tns:ClassCDE" />
      <xs:element ref="tns:DispName" />
      <xs:element minOccurs="0" ref="tns:UniqueName" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OtherNamesType">
    <xs:sequence>
      <xs:element minOccurs="0" ref="tns:GenbankCommonName" />
      <xs:element minOccurs="0" ref="tns:GenbankAcronym" />
      <xs:element minOccurs="0" ref="tns:BlastName" />
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="tns:EquivalentName" />
        <xs:element ref="tns:Synonym" />
        <xs:element ref="tns:Acronym" />
        <xs:element ref="tns:Misspelling" />
        <xs:element ref="tns:Anamorph" />
        <xs:element ref="tns:Includes" />
        <xs:element ref="tns:CommonName" />
        <xs:element ref="tns:Inpart" />
        <xs:element ref="tns:Misnomer" />
        <xs:element ref="tns:Teleomorph" />
        <xs:element ref="tns:GenbankSynonym" />
        <xs:element ref="tns:GenbankAnamorph" />
        <xs:element name="Name" type="tns:NameType" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParentTaxId" type="xs:string" />
  <xs:element name="PropName" type="xs:string" />
  <xs:element name="PropValueBool" type="xs:string" />
  <xs:element name="PropValueInt" type="xs:string" />
  <xs:element name="PropValueString" type="xs:string" />
  <xs:complexType name="PropertiesType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Property" type="tns:PropertyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PropertyType">
    <xs:sequence>
      <xs:element ref="tns:PropName" />
      <xs:choice>
        <xs:element ref="tns:PropValueInt" />
        <xs:element ref="tns:PropValueBool" />
        <xs:element ref="tns:PropValueString" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PubDate" type="xs:string" />
  <xs:element name="RModId" type="xs:string" />
  <xs:element name="RTaxId" type="xs:string" />
  <xs:element name="Rank" type="xs:string" />
  <xs:element name="ScientificName" type="xs:string" />
  <xs:element name="Synonym" type="xs:string" />
  <xs:element name="TaxId" type="xs:string" />
  <xs:element name="TaxaSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Taxon" type="tns:TaxonType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="TaxonType">
    <xs:sequence>
      <xs:element ref="tns:TaxId" />
      <xs:element ref="tns:ScientificName" />
      <xs:element minOccurs="0" name="OtherNames" type="tns:OtherNamesType" />
      <xs:element minOccurs="0" ref="tns:ParentTaxId" />
      <xs:element minOccurs="0" ref="tns:Rank" />
      <xs:element minOccurs="0" ref="tns:Division" />
      <xs:element minOccurs="0" name="GeneticCode" type="tns:GeneticCodeType" />
      <xs:element minOccurs="0" name="MitoGeneticCode" type="tns:MitoGeneticCodeType" />
      <xs:element minOccurs="0" ref="tns:Lineage" />
      <xs:element minOccurs="0" name="LineageEx" type="tns:LineageExType" />
      <xs:element minOccurs="0" name="Citations" type="tns:CitationsType" />
      <xs:element minOccurs="0" name="Modifiers" type="tns:ModifiersType" />
      <xs:element minOccurs="0" name="Properties" type="tns:PropertiesType" />
      <xs:element minOccurs="0" ref="tns:CreateDate" />
      <xs:element minOccurs="0" ref="tns:UpdateDate" />
      <xs:element minOccurs="0" ref="tns:PubDate" />
      <xs:element minOccurs="0" name="AkaTaxIds" type="tns:AkaTaxIdsType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Teleomorph" type="xs:string" />
  <xs:element name="UniqueName" type="xs:string" />
  <xs:element name="UpdateDate" type="xs:string" />
</xs:schema>